body {
    background-color: #252525;
    background: url(../assets/textures/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, label {
    color: white;
}

.container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto 0px auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
}

.sidebar div,
.sidebar button {
    margin: 15px;
}

label {
    font-size: 20px;
}

#github-profile-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.collapse.show {
    position: relative;
}

#world-auto-increment {
    margin-right: 5px;
}