body {
    background-color: #252525;
    background: url(../assets/textures/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
color: white;
}

.container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    margin: 20px 10px;
}